[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vendor/start/vim-airline-themes"]
	path = pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/vendor/start/fugitive"]
	path = pack/vendor/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/vendor/start/css-color"]
	path = pack/vendor/start/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "pack/vendor/start/ctags"]
	path = pack/vendor/start/ctags
	url = https://github.com/vim-scripts/ctags.vim.git
[submodule "pack/vendor/start/vim-easymotion"]
	path = pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/vendor/start/incsearch"]
	path = pack/vendor/start/incsearch
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "pack/vendor/start/LeaderF"]
	path = pack/vendor/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "pack/vendor/start/ultisnips"]
	path = pack/vendor/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/vendor/start/vim-markdown"]
	path = pack/vendor/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/vendor/start/vim-snippets"]
	path = pack/vendor/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/vendor/start/vim-visual-multi"]
	path = pack/vendor/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "pack/vendor/start/vimspector"]
	path = pack/vendor/start/vimspector
	url = https://github.com/puremourning/vimspector.git
[submodule "pack/vendor/start/indentLine"]
	path = pack/vendor/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/vendor/start/vim-signature"]
	path = pack/vendor/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "pack/vendor/start/vim-surround"]
	path = pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/vendor/start/coc"]
	path = pack/vendor/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/vendor/start/vim-jsonc"]
	path = pack/vendor/start/vim-jsonc
	url = https://github.com/kevinoid/vim-jsonc.git
[submodule "pack/vendor/start/gtags"]
	path = pack/vendor/start/gtags
	url = https://github.com/vim-scripts/gtags.vim.git
[submodule "pack/vendor/start/vim-gutentags"]
	path = pack/vendor/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/vendor/start/neoformat"]
	path = pack/vendor/start/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "pack/vendor/start/vim-bookmarks"]
	path = pack/vendor/start/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "pack/vendor/start/vim-expand-region"]
	path = pack/vendor/start/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "pack/vendor/start/vim-nerdtree-syntax-highlight"]
	path = pack/vendor/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "pack/vendor/start/ctrlsf"]
	path = pack/vendor/start/ctrlsf
	url = https://github.com/dyng/ctrlsf.vim.git
[submodule "pack/vendor/start/dsf"]
	path = pack/vendor/start/dsf
	url = https://github.com/AndrewRadev/dsf.vim.git
[submodule "pack/vendor/start/vim-peekaboo"]
	path = pack/vendor/start/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
[submodule "pack/vendor/start/tagalong"]
	path = pack/vendor/start/tagalong
	url = https://github.com/AndrewRadev/tagalong.vim.git
[submodule "pack/vendor/start/gv"]
	path = pack/vendor/start/gv
	url = https://github.com/junegunn/gv.vim.git
[submodule "pack/vendor/start/vim-unimpaired"]
	path = pack/vendor/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/vendor/start/git-messenger"]
	path = pack/vendor/start/git-messenger
	url = https://github.com/rhysd/git-messenger.vim.git
[submodule "pack/vendor/start/mundo"]
	path = pack/vendor/start/mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "pack/vendor/vim-colorschemes"]
	path = pack/vendor/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "pack/vendor/start/vim-test"]
	path = pack/vendor/start/vim-test
	url = https://github.com/vim-test/vim-test.git
[submodule "pack/vendor/start/vim-argwrap"]
	path = pack/vendor/start/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap.git
[submodule "pack/vendor/start/vim-easy-align"]
	path = pack/vendor/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/vendor/start/vim-choosewin"]
	path = pack/vendor/start/vim-choosewin
	url = https://github.com/t9md/vim-choosewin.git
[submodule "pack/vendor/start/nvim-ts-rainbow"]
	path = pack/vendor/start/nvim-ts-rainbow
	url = https://github.com/p00f/nvim-ts-rainbow.git
[submodule "pack/vendor/start/rainbow_levels"]
	path = pack/vendor/start/rainbow_levels
	url = https://github.com/thiagoalessio/rainbow_levels.vim.git
[submodule "pack/vendor/start/asyncrun"]
	path = pack/vendor/start/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "pack/vendor/start/vim-conflicted"]
	path = pack/vendor/start/vim-conflicted
	url = https://github.com/christoomey/vim-conflicted.git
[submodule "pack/vendor/start/vim-illuminate"]
	path = pack/vendor/start/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "pack/vendor/start/DoxygenToolkit"]
	path = pack/vendor/start/DoxygenToolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "pack/vendor/start/rainbow"]
	path = pack/vendor/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "pack/vendor/start/targets"]
	path = pack/vendor/start/targets
	url = https://github.com/wellle/targets.vim.git
[submodule "pack/vendor/start/asynctasks"]
	path = pack/vendor/start/asynctasks
	url = https://github.com/skywind3000/asynctasks.vim.git
[submodule "pack/vendor/start/vim-closetag"]
	path = pack/vendor/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "pack/vendor/start/vim-rooter"]
	path = pack/vendor/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "__lsp/phpactor"]
	path = __lsp/phpactor
	url = https://github.com/phpactor/phpactor.git
[submodule "pack/vendor/start/vim-signify"]
	path = pack/vendor/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/vendor/start/vim-dirvish"]
	path = pack/vendor/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "pack/vendor/start/vim-projectionist"]
	path = pack/vendor/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "pack/vendor/start/vim-which-key"]
	path = pack/vendor/start/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "pack/vendor/start/git-blame"]
	path = pack/vendor/start/git-blame
	url = https://github.com/zivyangll/git-blame.vim.git
[submodule "pack/vendor/start/vim-repeat"]
	path = pack/vendor/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/vendor/start/auto-pairs"]
	path = pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/vendor/start/vim-devicons"]
	path = pack/vendor/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "pack/vendor/start/vim-commentary"]
	path = pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/vendor/start/vim-context-commentstring"]
	path = pack/vendor/start/vim-context-commentstring
	url = https://github.com/suy/vim-context-commentstring.git
[submodule "pack/vendor/start/tagbar"]
	path = pack/vendor/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "pack/vendor/start/clever-f"]
	path = pack/vendor/start/clever-f
	url = https://github.com/rhysd/clever-f.vim.git
[submodule "pack/vendor/opt/gruvbox-material"]
	path = pack/vendor/opt/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
[submodule "pack/vendor/start/vim-startify"]
	path = pack/vendor/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
