[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/vendor/start/vim-airline-themes"]
	path = pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/vendor/start/rainbow"]
	path = pack/vendor/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "pack/vendor/start/nerdcommenter"]
	path = pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "pack/vendor/start/vim-gitgutter"]
	path = pack/vendor/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/vendor/start/nerdtree-git-plugin"]
	path = pack/vendor/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/vendor/start/vim-polyglot"]
	path = pack/vendor/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/vendor/start/mru"]
	path = pack/vendor/start/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "pack/vendor/start/fugitive"]
	path = pack/vendor/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/vendor/start/emmet"]
	path = pack/vendor/start/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/vendor/start/css-color"]
	path = pack/vendor/start/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "pack/vendor/start/gruvbox"]
	path = pack/vendor/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/vendor/start/ctags"]
	path = pack/vendor/start/ctags
	url = https://github.com/vim-scripts/ctags.vim.git
[submodule "pack/vendor/start/tagbar"]
	path = pack/vendor/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "pack/vendor/start/vim-easymotion"]
	path = pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/vendor/start/incsearch"]
	path = pack/vendor/start/incsearch
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "pack/vendor/start/gundo"]
	path = pack/vendor/start/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "pack/vendor/start/taglist"]
	path = pack/vendor/start/taglist
	url = https://github.com/yegappan/taglist.git
[submodule "pack/vendor/start/LeaderF"]
	path = pack/vendor/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "pack/vendor/start/ultisnips"]
	path = pack/vendor/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/vendor/start/vim-markdown"]
	path = pack/vendor/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/vendor/start/vim-translator"]
	path = pack/vendor/start/vim-translator
	url = https://github.com/voldikss/vim-translator.git
[submodule "pack/vendor/start/vim-snippets"]
	path = pack/vendor/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/vendor/start/vim-visual-multi"]
	path = pack/vendor/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "pack/vendor/start/vimspector"]
	path = pack/vendor/start/vimspector
	url = https://github.com/puremourning/vimspector.git
[submodule "pack/vendor/start/delimitMate"]
	path = pack/vendor/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/vendor/start/vim-startify"]
	path = pack/vendor/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/vendor/start/indentLine"]
	path = pack/vendor/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/vendor/start/vim-signature"]
	path = pack/vendor/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "pack/vendor/start/vim-repeat"]
	path = pack/vendor/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/vendor/start/vim-surround"]
	path = pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/vendor/start/coc"]
	path = pack/vendor/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/vendor/start/ack"]
	path = pack/vendor/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/vendor/start/fzfs"]
	path = pack/vendor/start/fzfs
	url = https://github.com/junegunn/fzf.git
[submodule "pack/vendor/start/vim-jsonc"]
	path = pack/vendor/start/vim-jsonc
	url = https://github.com/kevinoid/vim-jsonc.git
