[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vendor/start/vim-airline-themes"]
	path = pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/vendor/start/nerdcommenter"]
	path = pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "pack/vendor/start/vim-gitgutter"]
	path = pack/vendor/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/vendor/start/vim-polyglot"]
	path = pack/vendor/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/vendor/start/fugitive"]
	path = pack/vendor/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/vendor/start/css-color"]
	path = pack/vendor/start/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "pack/vendor/start/gruvbox"]
	path = pack/vendor/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/vendor/start/ctags"]
	path = pack/vendor/start/ctags
	url = https://github.com/vim-scripts/ctags.vim.git
[submodule "pack/vendor/start/tagbar"]
	path = pack/vendor/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "pack/vendor/start/vim-easymotion"]
	path = pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/vendor/start/incsearch"]
	path = pack/vendor/start/incsearch
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "pack/vendor/start/LeaderF"]
	path = pack/vendor/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "pack/vendor/start/ultisnips"]
	path = pack/vendor/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/vendor/start/vim-markdown"]
	path = pack/vendor/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/vendor/start/vim-translator"]
	path = pack/vendor/start/vim-translator
	url = https://github.com/voldikss/vim-translator.git
[submodule "pack/vendor/start/vim-snippets"]
	path = pack/vendor/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/vendor/start/vim-visual-multi"]
	path = pack/vendor/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "pack/vendor/start/vimspector"]
	path = pack/vendor/start/vimspector
	url = https://github.com/puremourning/vimspector.git
[submodule "pack/vendor/start/indentLine"]
	path = pack/vendor/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/vendor/start/vim-signature"]
	path = pack/vendor/start/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "pack/vendor/start/vim-repeat"]
	path = pack/vendor/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/vendor/start/vim-surround"]
	path = pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/vendor/start/coc"]
	path = pack/vendor/start/coc
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/vendor/start/vim-jsonc"]
	path = pack/vendor/start/vim-jsonc
	url = https://github.com/kevinoid/vim-jsonc.git
[submodule "pack/vendor/start/gtags"]
	path = pack/vendor/start/gtags
	url = https://github.com/vim-scripts/gtags.vim.git
[submodule "pack/vendor/opt/vim-gruvbox8"]
	path = pack/vendor/opt/vim-gruvbox8
	url = https://github.com/lifepillar/vim-gruvbox8.git
[submodule "pack/vendor/start/phpactor"]
	path = pack/vendor/start/phpactor
	url = https://github.com/phpactor/phpactor.git
[submodule "pack/vendor/start/vim-gutentags"]
	path = pack/vendor/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/vendor/start/neoformat"]
	path = pack/vendor/start/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "pack/vendor/start/vim-bookmarks"]
	path = pack/vendor/start/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "pack/vendor/start/vim-expand-region"]
	path = pack/vendor/start/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "pack/vendor/start/vim-nerdtree-syntax-highlight"]
	path = pack/vendor/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "pack/vendor/start/vim-quickhl"]
	path = pack/vendor/start/vim-quickhl
	url = https://github.com/t9md/vim-quickhl.git
[submodule "pack/vendor/start/ctrlsf"]
	path = pack/vendor/start/ctrlsf
	url = https://github.com/dyng/ctrlsf.vim.git
[submodule "pack/vendor/start/nerdtree-syntax-highlight"]
	path = pack/vendor/start/nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "pack/vendor/start/dsf"]
	path = pack/vendor/start/dsf
	url = https://github.com/AndrewRadev/dsf.vim.git
[submodule "pack/vendor/start/vim-peekaboo"]
	path = pack/vendor/start/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
[submodule "pack/vendor/start/tagalong"]
	path = pack/vendor/start/tagalong
	url = https://github.com/AndrewRadev/tagalong.vim.git
[submodule "pack/vendor/start/undoquit"]
	path = pack/vendor/start/undoquit
	url = https://github.com/AndrewRadev/undoquit.vim.git
[submodule "pack/vendor/start/gv"]
	path = pack/vendor/start/gv
	url = https://github.com/junegunn/gv.vim.git
[submodule "pack/vendor/start/vim-unimpaired"]
	path = pack/vendor/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/vendor/start/vim-rooter"]
	path = pack/vendor/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "pack/vendor/start/git-messenger"]
	path = pack/vendor/start/git-messenger
	url = https://github.com/rhysd/git-messenger.vim.git
[submodule "pack/vendor/start/mundo"]
	path = pack/vendor/start/mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "pack/vendor/vim-colorschemes"]
	path = pack/vendor/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "pack/vendor/start/vim-test"]
	path = pack/vendor/start/vim-test
	url = https://github.com/vim-test/vim-test.git
[submodule "pack/vendor/start/vimnx"]
	path = pack/vendor/start/vimnx
	url = https://github.com/preservim/vimux.git
[submodule "pack/vendor/start/vim-argwrap"]
	path = pack/vendor/start/vim-argwrap
	url = https://github.com/FooSoft/vim-argwrap.git
[submodule "pack/vendor/start/splitjoin"]
	path = pack/vendor/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "pack/vendor/start/vim-mkdir-on-write"]
	path = pack/vendor/start/vim-mkdir-on-write
	url = https://github.com/scy/vim-mkdir-on-write.git
[submodule "pack/vendor/start/vim-eunuch"]
	path = pack/vendor/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "pack/vendor/start/vim-easy-align"]
	path = pack/vendor/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/vendor/opt/gruvbox"]
	path = pack/vendor/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/vendor/start/vim-choosewin"]
	path = pack/vendor/start/vim-choosewin
	url = https://github.com/t9md/vim-choosewin.git
[submodule "pack/vendor/start/nvim-ts-rainbow"]
	path = pack/vendor/start/nvim-ts-rainbow
	url = https://github.com/p00f/nvim-ts-rainbow.git
[submodule "pack/vendor/start/rainbow_levels"]
	path = pack/vendor/start/rainbow_levels
	url = https://github.com/thiagoalessio/rainbow_levels.vim.git
[submodule "pack/vendor/start/close-buffers"]
	path = pack/vendor/start/close-buffers
	url = https://github.com/Asheq/close-buffers.vim.git
[submodule "pack/vendor/start/asyncrun"]
	path = pack/vendor/start/asyncrun
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "pack/vendor/start/accelerated-jk"]
	path = pack/vendor/start/accelerated-jk
	url = https://github.com/rhysd/accelerated-jk.git
[submodule "pack/vendor/start/vim-conflicted"]
	path = pack/vendor/start/vim-conflicted
	url = https://github.com/christoomey/vim-conflicted.git
[submodule "pack/vendor/start/vim-illuminate"]
	path = pack/vendor/start/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "pack/vendor/start/vimade"]
	path = pack/vendor/start/vimade
	url = https://github.com/TaDaa/vimade.git
[submodule "pack/vendor/start/DoxygenToolkit"]
	path = pack/vendor/start/DoxygenToolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "pack/vendor/start/delimitMate"]
	path = pack/vendor/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/vendor/start/rainbow"]
	path = pack/vendor/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "pack/vendor/start/vim-sneak"]
	path = pack/vendor/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "pack/vendor/start/mkdx"]
	path = pack/vendor/start/mkdx
	url = https://github.com/SidOfc/mkdx.git
[submodule "pack/vendor/start/targets"]
	path = pack/vendor/start/targets
	url = https://github.com/wellle/targets.vim.git
[submodule "pack/vendor/start/vim-startify"]
	path = pack/vendor/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "pack/vendor/start/nerdtree-git-plugin"]
	path = pack/vendor/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
